@import url("https://fonts.googleapis.com/css2?family=Redressed&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
html{
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}
.container {
  width: 1170px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  text-align: center;
  font-family: Redressed, cursive;
  font-size: 3.5em;
  color: var(--secondary-color);
}
:root {
  --primary-color: #f79332;
  --secondary-color: #3ca434;
}
.header {
  background: url("../images/header-bg.png");
  padding-top: 20px;
}
.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .container img {
  width: 324px;
}
.nav {
  width: fit-content;
  margin: 8px 0px;
  display: flex;
}
.nav a {
  text-align: center;
  /* font-size: 1.1rem; */
  color: var(--primary-color);
  padding: 0px 15px;
  border-right: 2px solid var(--primary-color);
  font-weight: 500;
}



/* ---------------Hero section start ----- */
.hero {
  background: url("/images/body-bg.png");
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
}
.vegan_cheese .container {
  justify-content: center;
  text-align: center;
  padding: 38px 0px;
}
.vegan_cheese .container .vegan_cheese {
  width: 335px;
}
.vegan_cheese .container .vegan_cheese_title {
  margin: 22px 0;
  width: 623px;
}
.product .container h1 {
  text-align: center;
  margin-bottom: 32px;
  margin-top: 20px;
}
.product .container h1 span {
  background: var(--secondary-color);
  color: rgb(255, 255, 255);
}
.product .container .products_wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.products_wrapper .single_product {
  width: 300px;
  display: flex;
  flex-direction: column;

}
.products_wrapper .single_product img{
    max-width: 100%;
}
.products_wrapper .single_product .product_info {
  margin-top: 20px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
}



/* --------Craftsmanship section start------- */


.craftsmanship{
    background: linear-gradient(90deg, rgba(255, 237, 186, 0.2) 0%, rgba(255, 237, 186, 0) 100%);
    padding: 30px;
    margin-top: 50px;
}

.craftsmanship .container h1{
    margin-bottom: 20px;
  
}

/* --------Craftsmanship section End------- */

.happiness{
    background: linear-gradient(90deg, rgba(62, 171, 54, 0) 0%, rgba(62, 171, 54, 0.1) 100%);
    padding: 30px;
}


.happiness .title{
    margin-bottom: 20px;
}


.footer .title{
  margin: 30px 0;
}

.footer_wrapper{
  background: linear-gradient(90deg, rgba(255, 237, 186, 0.15) 50%, rgba(62, 171, 54, 0.07) 50%);
}
.contact_wrapper{
  padding-bottom: 50px;
width: fit-content;
  display: flex;
  justify-content: center;

}

.address{
  padding-top: 30px;
  width: 50%;
  padding-right: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}

address{
  text-align: center;
}

.contact_info{
  padding-left: 33px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}


.contact_info div{
  margin-bottom: 15px;
}
.contact_info img{
  vertical-align: middle;
  margin-right: 12px;
}